
h1, h2, h3,
body {
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}


span{color: blue;}


.home-section{
  height:100vh;
  background: linear-gradient(to right, #E6DACE 67%, #FFFFFF 30%);

}

.about-section {
  height: 100%;
  background: #E6DACE;

}

.resume-section, .projects-section{

  background: #E6DACE;

}

.contact-section{
  height:100vh;
  background: #E6DACE;
  text-align: center;
}


.topnav {
  margin-left: 200px;
  background-color: #FFFFFF;
  overflow: hidden;
}
/*remove bullets*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2{
  text-align: center;
}

.title a {
  float:left;
  color: #454545;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 900;
}


.topnav a {
  float:left;
  color: #454545;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {

  color: blue;
  text-decoration: underline;
}



/* Float two columns */
.column1 {
  float: left;
  width: 50%;
  padding: 0 350px;
  padding-top: 175px;

}

.column2 {
  float: left;
  width: 25%;
  padding-top: 100px;

}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style cards */
.card1 {
  width: 325px;
  text-align: left;

}
.card1 h1 {
  text-align: left;
  font-size: 30px;
}

.card2 {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  width: 88%;
  float:left;
  padding: 0 20px;
  text-align: center;
  background-color: #F4ECE6;
  border-radius: 5px;
}

.card2 h1{
  font-size: 3rem;
  padding-top: 2px;
  padding-bottom: 5px;
}

.card2 p{
  padding-top: 10px;
  color: #000;
  font-size: 1.1rem;
  max-width: 400px;
}

.card2 img{
  margin-top: 20px;
  width: 50%;
}



hr{height:2px;
  width: 75px;
  border-width:0;
  background-color: blue;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

.about, .resume, .projects {
  padding: 25px 50px 50px 25px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;

}

.table1, .table2, .table3, .table4, .table5, .table6, .table7, .table8{
  background-color: #FFFFFF;
  padding: 50px 50px 50px 50px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about-section h2, .projects-section h2, .resume-section h2{
  padding-top: 20px;
}

img{
display: block;
margin-left: auto;
margin-right: auto;

}

/*style contact button*/
.button{
text-align: center;
background-color: blue;
border: none;
border-radius: 10px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

td.description{
  width: 325px;

}


.container {
  position: relative;
  width: 75%;
  float: right;
}

.image {
  display: inline-block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F4ECE6;
}

.container:hover .overlay {
  opacity: 1;
}

.text a {
  text-decoration: none;
  color: #454545;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
 -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.fade {
  opacity: 0;
}



table.resume {
  margin: 0 auto;
  line-height: 1em;
  border: none;
  background: white;
  color: #454545;
  margin-bottom: 20px;

}

td.resume {
  border: none;
}

th.resume,
td.resume {
  font-weight: bold;
  border: none;
  text-align: center;
}

td.resume {
  font-weight: lighter;
}

.blue{
  color: blue;
}

.subtitle, tr {
  text-align: left;
  padding-left: 365px;
}

.contianer {
    display: grid;
}

.contianer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 300px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pic1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

#pic3 {
    grid-row-start: 2;
    grid-row-end: 4;
}
#pic4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.contianer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.home-footer p{
  text-align: center;
  background: linear-gradient(to right, #E6DACE 67%, #FFFFFF 30%);
  font-size: 12px;
  margin: auto 0;
  height:10vh;
  padding-top: 20px;
}

.footer p{
  text-align: center;
  /*background: #F4ECE6;*/
  background: #E6DACE;
  font-size: 12px;
  margin: auto 0;
  height:10vh;
  padding-top: 20px;
}

.contact-title h2{
  font-size: 16px;
}

form{
  margin-top: 50px;

}

.form-control{
  width: 500px;
  border-bottom: 1px solid grey;
  font-size: 18px;
  margin-bottom: 16px;
}


.container-form{
  width:600px;
  display: flex;
  display: inline-block;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 10px 50px 20px 50px;
}


input[type=text],input[type=email] {
  width: 100%;
  padding: 12px 10px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}


input[type=submit] {
  width: 100%;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

label.span{
  color: red;
  font-size: 9px;
  margin-left: 10px;
}
